<!DOCTYPE html>
<html>
  <head>
    <title>Lottery</title>
    <link
      rel="stylesheet"
      href="https://www.taiwanlottery.com.tw/css1.css?ver=1.0"
    />
  </head>
  <body>
    <!-- ***************威力彩區塊***************-->
    <div class="contents_box02">
      <div id="contents_logo_02"></div>
      <div class="contents_mine_tx02">
        <span class="font_black15">{{ data[1].find('span', {'class':'font_black15'}).text }} </span
        ><span class="font_red14"
          ><a href="https://www.taiwanlottery.com.tw/result_all.htm#01">開獎結果</a></span
        >
      </div>
      <div class="contents_mine_tx04">開出順序<br />大小順序<br />第二區</div>
      <div class="ball_tx ball_green">{{ data[2][0].text }}</div>
      <div class="ball_tx ball_green">{{ data[2][1].text }}</div>
      <div class="ball_tx ball_green">{{ data[2][2].text }}</div>
      <div class="ball_tx ball_green">{{ data[2][3].text }}</div>
      <div class="ball_tx ball_green">{{ data[2][4].text }}</div>
      <div class="ball_tx ball_green">{{ data[2][5].text }}</div>
      <div class="ball_tx ball_green">{{ data[2][6].text }}</div>
      <div class="ball_tx ball_green">{{ data[2][7].text }}</div>
      <div class="ball_tx ball_green">{{ data[2][8].text }}</div>
      <div class="ball_tx ball_green">{{ data[2][9].text }}</div>
      <div class="ball_tx ball_green">{{ data[2][10].text }}</div>
      <div class="ball_tx ball_green">{{ data[2][11].text }}</div>
      <div class="ball_red">
        {{ data[1].find('div', {'class':'ball_red'}).text }}
      </div>
    </div>
  </body>
</html>
