<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="avatar-flip">
          <img src="https://gao7pic.gao7.com/4c30dcae-fea5-4919-90f1-89981ae04f03.jpg?x-bce-process=image/resize,m_lfit,w_550" height="150" width="150">
          <img src="https://media.tenor.com/K5qaaSlvorEAAAAC/%E5%8E%9F%E7%A5%9E%E5%95%9F%E5%8B%95-meme.gif" height="150" width="150">
        </div>
        <h2>{{ name }}</h2>
        <h4>HOVER OVER CONTAINER</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna ip sum dolore.</p>
        <p>Connec dolore ipsum faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla.</p>
      </div>
</body>
</html>
