body {
  font-family: "Roboto", arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.8;
  color: #6c757d;
  position: relative; }

::-moz-selection {
  color: #fff;
  background: #ffba5a; }

::selection {
  color: #fff;
  background: #ffba5a; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", times, serif; }  

.font-family-serif {
  font-family: "Playfair Display", times, serif; }

.font-family-sans-serif {
  font-family: "Roboto", arial, sans-serif; }

.bg-light {
  background: #f2f4fb !important; }

.container-fluid {
  max-width: 1600px; }

.btn {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px; }
  .btn.btn-outline-white {
    border: 2px solid #fff; }
    .btn.btn-outline-white:hover {
      border: 2px solid transparent;
      background: #000;
      color: #fff; }
  .btn.btn-outline-white-primary {
    border: 2px solid #fff; }
    .btn.btn-outline-white-primary:hover {
      border: 2px solid transparent;
      background: #ffba5a;
      color: #fff; }
  .btn.uppercase {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .2em; }

.btn, .form-control {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
  .btn:focus, .btn:active, .form-control:focus, .form-control:active {
    outline: none; }

.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  height: 50px;
  border-width: 2px; }
  .form-control:active, .form-control:focus {
    border-color: #ffba5a; }

textarea.form-control {
  height: inherit; }

.section {
  padding: 7em 0; }
  @media (max-width: 991.98px) {
    .section {
      padding: 3em 0; } }

@media (max-width: 991.98px) {
  .lead {
    font-size: 16px; } }

.heading-serif, .heading, .testimonial-section .heading, .slider-section .heading, .blog-post-entry .heading {
  font-size: 60px;
  font-family: "Playfair Display", times, serif;
  font-weight: 700; }
  @media (max-width: 991.98px) {
    .heading-serif, .heading, .testimonial-section .heading, .slider-section .heading, .blog-post-entry .heading {
      font-size: 40px; } }