{% extends "layout/base.html" %} {% block title %}Hotel Booking{% endblock
title%} {% block head %}
    <!-- Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- bs-stepper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper@1.7.0/dist/css/bs-stepper.min.css" integrity="sha256-ANeiWnWqm6gfpNdDeuiElQBFVDc3o79vZDuOXOGJ0Gs=" crossorigin="anonymous">
    {% endblock head %} {% block body %}
    <main>
        {% macro render_field(field) %}
        <div class="form-group">
            {{ field.label }} {% if field.flags.required %}<span class="text-danger font-weight-bold">*</span>{% endif %}
            {{ field(class="form-control", placeholder="Enter " + field.description) }}
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter a valid {{field.description}}</div>
        </div>
        {% endmacro %}
        <div class="container">
            <h3>Booking a room</h3>
            <div id="stepperForm" class="bs-stepper">
            <div class="bs-stepper-header" role="tablist">
                <div class="step" data-target="#test-form-1">
                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger1" aria-controls="test-form-1">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">Select Room Type</span>
                </button>
                </div>
                <div class="bs-stepper-line"></div>
                <div class="step" data-target="#test-form-2">
                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger2" aria-controls="test-form-2">
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">Order Details</span>
                </button>
                </div>
                <div class="bs-stepper-line"></div>
                <div class="step" data-target="#test-form-3">
                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger3" aria-controls="test-form-3">
                    <span class="bs-stepper-circle">3</span>
                    <span class="bs-stepper-label">Submit</span>
                </button>
                </div>
            </div>
            <div class="bs-stepper-content">
                <form class="needs-validation" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div id="test-form-1" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger1">
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <center>
                                <h2>Single Room</h2>
                                <img src="{{ url_for('static', filename='images/ai_hotel_single_room.jpg') }}" alt="Single Room" class="rounded-circle lazy" width="100vw">
                                <p><strong>NT$</strong>{{room_price['Single Room']}}</p>
                                <div class="details-container">
                                    <img
                                        src="{{ url_for('static', filename='images/check-square.svg') }}"
                                        alt="tick"
                                        class="list-icon"
                                        _mstalt="46969"
                                    />
                                    <p class="list-text">1 Person</p>
                                    </div>
                                    <div class="details-container">
                                    <img
                                        src="{{ url_for('static', filename='images/bed.png') }}"
                                        alt="tick"
                                        class="list-icon"
                                        _mstalt="46969"
                                    />
                                    <p class="list-text">1 Single bed</p>
                                </div>
                            </center>
                        </div>
                        <div class="col-md-auto text-center">
                            <center>
                                <h2>Double Room</h2>
                                <img src="{{ url_for('static', filename='images/ai_hotel_room.jpg') }}" alt="Double Room" class="rounded-circle lazy"  width="100vw">
                                <p><strong>NT$</strong>{{room_price['Double Room']}}</p>
                                <div class="details-container">
                                    <img
                                        src="{{ url_for('static', filename='images/check-square.svg') }}"
                                        alt="tick"
                                        class="list-icon"
                                        _mstalt="46969"
                                    />
                                    <p class="list-text">2 Persons</p>
                                    </div>
                                    <div class="details-container">
                                    <img
                                        src="{{ url_for('static', filename='images/bed.png') }}"
                                        alt="tick"
                                        class="list-icon"
                                        _mstalt="46969"
                                    />
                                    <p class="list-text">1 Double bed</p>
                                </div>
                            </center>

                        </div>
                        <div class="col-md-auto">
                            <center>
                                <h2>Deluxe Room</h2>
                                <img src="{{ url_for('static', filename='images/ai_hotel_deluxe_room.jpg') }}" alt="Deluxe Room" class="rounded-circle lazy" width="100vw">
                                <p><strong>NT$</strong>{{room_price['Deluxe Room']}}</p>
                                <div class="details-container">
                                    <img
                                        src="{{ url_for('static', filename='images/check-square.svg') }}"
                                        alt="tick"
                                        class="list-icon"
                                        _mstalt="46969"
                                    />
                                    <p class="list-text">2 Persons</p>
                                    </div>
                                    <div class="details-container">
                                    <img
                                        src="{{ url_for('static', filename='images/bed.png') }}"
                                        alt="tick"
                                        class="list-icon"
                                        _mstalt="46969"
                                    />
                                    <p class="list-text">1 Kingsize bed</p>
                                </div>
                            </center>
                        </div>
                    </div>

                   {{ render_field(form.room_type) }}
                    <button type="button" class="btn btn-primary" onclick="stepperForm.next()">Next</button>
                </div>
                <div id="test-form-2" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger2">
                    {{ render_field(form.guest_name) }}
                    {{ render_field(form.check_in_date) }}
                    {{ render_field(form.check_out_date) }}
                    {{ render_field(form.contact_email) }}
                    {{ render_field(form.contact_phone) }}
                    <button type="button" class="btn btn-primary" onclick="stepperForm.previous()">Previous</button>
                    <button type="button" class="btn btn-primary" onclick="stepperForm.next(); review();">Next</button>
                </div>
                <div id="test-form-3" role="tabpanel" class="bs-stepper-pane fade text-center" aria-labelledby="stepperFormTrigger3">
                    <h3>Review and Submit</h3>
                    <div class="row">
                        <div class="col">
                            <p id="p1"></p>
                            <p id="p2"></p>
                            <p id="p3"></p>
                            <p id="p4"></p>
                            <p id="p5"></p>
                            <p id="p6"></p>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary mt-5" onclick="stepperForm.previous()">Previous</button>
                    
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Confirm Booking
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirm Booking</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            Are you sure you want to book this room?
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Confirm & Submit</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </main>
    {% endblock body %}
    
    {% block script%}
      <!-- bs-stepper -->
      <script src="https://cdn.jsdelivr.net/npm/bs-stepper@1.7.0/dist/js/bs-stepper.min.js" integrity="sha256-INfYp5owpb0btFquNHGlhSxgGYrFlGYRU2oN/3jWGeM=" crossorigin="anonymous"></script>
      <!-- Flatpickr -->
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
      <script>
          document.addEventListener("DOMContentLoaded", function () {
              var navLink = document.querySelector(".nav-link[href='booking']");
              navLink.classList.add("active");
              navLink.setAttribute("aria-current", "page");
            document.querySelector(".form-control#check_in_date").flatpickr({minDate: "today"});
            document.querySelector(".form-control#check_out_date").flatpickr({minDate: "today"});
          });
      </script>
      <script>
        function review() {
            var room_type = document.getElementById('room_type').value;
            var guest_name = document.getElementById('guest_name').value;
            var check_in_date = document.getElementById('check_in_date').value;
            var check_out_date = document.getElementById('check_out_date').value;
            var contact_email = document.getElementById('contact_email').value;
            var contact_phone = document.getElementById('contact_phone').value;
            document.querySelector("#p1").innerHTML = '<strong>Room Type:</strong> ' + room_type;
            document.querySelector("#p2").innerHTML = '<strong>Guest Name:</strong> ' + guest_name;
            document.querySelector("#p3").innerHTML = '<strong>Check In Date:</strong> ' + check_in_date;
            document.querySelector("#p4").innerHTML = '<strong>Check Out Date:</strong> ' + check_out_date;
            document.querySelector("#p5").innerHTML = '<strong>Contact Email:</strong> ' + contact_email;
            document.querySelector("#p6").innerHTML = '<strong>Contact Phone:</strong> ' + contact_phone;
        }
      </script>
      <script src="{{ url_for('static', filename='js/stepper.js') }}"></script>
    {% endblock script%}