{% extends "layout/base.html" %} {% block title %}Hotel Booking{% endblock
title%} {% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/rooms-and-suites.css') }}">
{% endblock head %} {% block body %}

<div class="container">
  <!-- Top Text -->
  <div class="page-header-container">
    <h2 class="page-header">Star Hotel Rooms</h2>
    <hr />
    <p class="page-sub-header">
      Enjoy the modern <br />
      comfort and panoramic view
    </p>
  </div>

  <!-- Special offers section -->
  <section class="special-offers">
    <div class="row center-lg">
      <div class="col image-col right-marg">
        <img
          src="{{ url_for('static', filename='images/fitnessRoom1.jpg') }}"
          alt="room-image"
          class="small-image"
          _mstalt="149058"
        />
        <img
          src="{{ url_for('static', filename='images/fitnessRoom2.jpg') }}"
          alt="room-image"
          class="small-image"
          _mstalt="149058"
        />
        <img
          src="{{ url_for('static', filename='images/ai_hotel.jpg') }}"
          alt="room-image"
          class="small-image"
          _mstalt="149058"
        />
        <div class="side-by-side-container">
          <div class="large-image-container">
            <img
              src="{{ url_for('static', filename='images/outdoorPool.jpg') }}"
              alt="room-image-large"
              class="large-image"
              _mstalt="294879"
            />
          </div>
          <section class="stacked-image-container">
            <div>
              <img
                src="{{ url_for('static', filename='images/saunaNBathroom1.jpg') }}"
                alt="room-image"
                class="small-image"
                _mstalt="149058"
              />
            </div>
            <div>
              <img
                src="{{ url_for('static', filename='images/saunaNBathroom2.jpg') }}"
                alt="`image"
                class="small-image"
                _mstalt="149058"
              />
            </div>
          </section>
        </div>
      </div>
      <div class="col">
        <h3 class="offers-title">FACILITIES</h3>
        <p class="offers-sub-title">
          Find everything you need for a relaxing and <br />
          productive stay at our hotel facilities
        </p>
        <ul class="offers-list">
          <li>
            <div>
              <img
                src="{{ url_for('static', filename='images/check-square.svg') }}"
                alt="tick"
                class="list-icon"
                _mstalt="46969"
              />
              <p class="list-text">Outdoor Pool</p>
            </div>
          </li>
          <li>
            <div>
              <img
                src="{{ url_for('static', filename='images/check-square.svg') }}"
                alt="tick"
                class="list-icon"
                _mstalt="46969"
              />
              <p class="list-text">Fitness Room</p>
            </div>
          </li>
          <li>
            <div>
              <img
                src="{{ url_for('static', filename='images/check-square.svg') }}"
                alt="tick"
                class="list-icon"
                _mstalt="46969"
              />
              <p class="list-text">Sauna & Bathroom</p>
            </div>
          </li>
        </ul>
        <a href="#" class="btn btn-fill btn-large">View More</a>
      </div>
    </div>
  </section>

  <!-- Rooms -->
    <div class="row center-lg">
      <div class="rooms col">
        <img
          src="{{ url_for('static', filename='images/ai_hotel_single_room.jpg') }}"
          alt=""
          class="rooms-img"
          width="200vw"
        />
        <h3 class="room-title">Single Room</h3>
        <p class="room-text">
          Our single rooms are designed with simplicity in mind and come equipped with modern amenities. These rooms are perfect for those looking for a comfortable stay at an affordable price.
        </p>
        <div>
          <div class="details-container">
            <img
              src="{{ url_for('static', filename='images/check-square.svg') }}"
              alt="tick"
              class="list-icon"
              _mstalt="46969"
            />
            <p class="list-text">1 Person</p>
          </div>
          <div class="details-container">
            <img
              src="{{ url_for('static', filename='images/bed.png') }}"
              alt="tick"
              class="list-icon"
              _mstalt="46969"
            />
            <p class="list-text">1 Single bed</p>
          </div>
        </div>
        <p class="amount-text">NT$100 Per Night</p>
        <div class="buttons-container">
          <font _mstmutation="1"
            >
            <a
              href="booking"
              class="btn btn-fill"
              _mstmutation="1"
              >Book Now</a
            ></font
          >
        </div>
      </div>
      <div class="rooms col">
        <img
          src="{{ url_for('static', filename='images/ai_hotel_room.jpg') }}"
          alt=""
          class="rooms-img"
          width="200vw"
        />
        <h3 class="room-title">Double Room</h3>
        <p class="room-text">
          Our double rooms are perfect for couples or friends traveling together. These rooms are spacious and comfortable, with a king-size bed. The rooms also feature a minibar.
        </p>
        <div>
          <div class="details-container">
            <img
              src="{{ url_for('static', filename='images/check-square.svg') }}"
              alt="tick"
              class="list-icon"
              _mstalt="46969"
            />
            <p class="list-text">2 Persons</p>
          </div>
          <div class="details-container">
            <img
              src="{{ url_for('static', filename='images/bed.png') }}"
              alt="tick"
              class="list-icon"
              _mstalt="46969"
            />
            <p class="list-text">1 Double bed</p>
          </div>
        </div>
        <p class="amount-text">NT$150 Per Night</p>
        <div class="buttons-container">
          <font _mstmutation="1"
            >
            <a
              href="booking"
              class="btn btn-fill"
              _mstmutation="1"
              >Book Now</a
            ></font
          >
        </div>
      </div>
      <div class="rooms col">
        <img
          src="{{ url_for('static', filename='images/ai_hotel_deluxe_room.jpg') }}"
          alt=""
          class="rooms-img"
          width="200vw"
        />
        <h3 class="room-title">Deluxe Room</h3>
        <p class="room-text">
          Our deluxe rooms provide a luxurious and comfortable stay. They are perfect for those who want to enjoy the best of both worlds - a relaxing stay in a luxurious room with all the amenities you need.
        </p>
        <div>
          <div class="details-container">
            <img
              src="{{ url_for('static', filename='images/check-square.svg') }}"
              alt="tick"
              class="list-icon"
              _mstalt="46969"
            />
            <p class="list-text">2 Persons</p>
          </div>
          <div class="details-container">
            <img
              src="{{ url_for('static', filename='images/bed.png') }}"
              alt="tick"
              class="list-icon"
              _mstalt="46969"
            />
            <p class="list-text">1 Kingsize bed</p>
          </div>
        </div>
        <p class="amount-text">NT$200 Per Night</p>
        <div class="buttons-container">
          <font _mstmutation="1"
            >
            <a
              href="booking"
              class="btn btn-fill"
              _mstmutation="1"
              >Book Now</a
            ></font
          >
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock body %}

{% block script%}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var navLink = document.querySelector(".nav-link[href='rooms']");
        navLink.classList.add("active");
        navLink.setAttribute("aria-current", "page");
    });
</script>
{% endblock script%}